code
{
    background: #f8f8f8;
    overflow:auto;
    width:auto;
    border:solid gray;
    border-width:.1em .1em .1em .8em;
    padding:.2em .6em;
}

pre{
    margin: 0;
    line-height: 125%;
    color: #BC7A00;
}
